@model TheBeautyShop1.Domain.Entities.Product

<div class="well row panel">

    @if(Model.ImageData != null)
    {
        <div class="pull-left col-lg-2 col-md-2 col-sm-2" style="margin-right:10px">
            <img class="img-thumbnail" width="150" height="150"
                 src="@Url.Action("GetImage","Product", new { Model.ProductID})"/>
        </div>
    }
    <div class="col-lg-8 col-md-8 col-sm-7">

        <h3>

            <strong>@Model.Name</strong>
            
            
        </h3>
        
        <div class="textAdjust">
            <span class="lead">@Model.Description</span>
        </div>

    </div>

    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">

            <div class="priceSet">
                <span class="label label-primary price">@Model.Price.ToString("c")</span>
            </div>

            @Html.HiddenFor(x => x.ProductID)
            @Html.Hidden("returnUrl",Request.Url.PathAndQuery)
            
            <div>
                <input type="submit" class="btn btn-success" value="Add To Cart" />
            </div>
            
            
        </div>
    }

    
</div>